body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
    box-sizing: border-box;
    padding-bottom: 70px; 
    position: relative; 

}

hr {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center; 
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; /* Make form responsive */
    max-width: 500px; /* Limit maximum width */
    margin-bottom: 70px; /* Margin to prevent overlap with footer */
    box-sizing: border-box;
}


form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777;
}

input[type="text"],
input[type="email"],
input[type="password"] {
width: calc(100% - 20px); /* Subtract padding from 100% */
padding: 10px;
border: 1px solid #ddd;
border-radius: 5px;
box-sizing: border-box; /* Include padding in width */
font-size: 1em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
outline: none;
border-color: #4CAF50; /* Highlight on focus */
box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2); /* Add a subtle shadow */
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%; /* Make button full width */
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}